.geninfo {
  width: 25rem;
  height: 3.75rem;
  left: 641px;
  top: 365px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */

  align-items: center;
  text-align: center;

  color: #000000;
}

label {
  /* width: 108px;
  height: 32px;
  left: 437px;
  top: 456px;
  margin-top: 30px; */
  /* Header/sub */
  margin-right: 10px;
  margin-top: 18px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  /* identical to box height, or 139% */
  display: flex;
  align-items: center;
}

input {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 30px; */
  padding: 1rem;
  height: 4.375;
  left: 1291px;
  margin-top: 18px;
  margin-right: 10px;

  /* white */

  background: #fffdfa;
  /* Black */

  border: 1px solid #293241;
  border-radius: 8px;
}

#fullname {
  box-sizing: border-box;
  width: 38rem;
}
#education {
  width: 25rem;
}
#state {
  width: 13rem;
}
#zipcode {
  width: 12rem;
}

#email {
  width: 43rem;
}

#password,
#conpassword {
  width: 22rem;
}
form {
  display: flex;
  
  flex-wrap: wrap; 
  /* position: absolute; */
}
.userinfo {
  padding: 5rem;
  flex-direction: 'column';
  justify-content: flex-start;
  /* position: absolute; */

  /* text-align: center; */

}
